# Mirror π
# 
# Copyright (c) 2014 Istvan Szantai <szantaii at sidenote dot hu>
# Released under the MIT License (LICENSE).

[Desktop Entry]
Type=Application
Exec=bash /home/pi/mirror-pi/startup/startup.sh
